header, footer {
    width: 760px;
    margin: 0 auto 20px;
    color: rgb(53, 53, 53);
    text-align: center;
}

#container {
    width: 720px;
    margin: 0 auto 40px;
}

.section {
    margin-bottom: 30px;
    border: 2px solid rgba(56, 56, 56, 0.5);
    border-radius: 20px;
    box-shadow: 0px 10px 20px #bbbbbb;
    text-align: center;
}